<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :'Restaurante'%>
    <%= collection_select(:restaurant, :restaurant_id, Restaurant.all, :id, :name, {}, { :multiple => false } )%>
  </div>

  <div class="field">
    <%= form.label :'Nome' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :'Preço' %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :'Tempo de preparo em minutos' %>
    <%= form.number_field :time_prep %>
  </div>

  <div class="field">
    <%= form.label :'Categoria do prato' %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :'Ingredientes'%>
    <%= collection_select(:ingredient, :ingredient_ids, Ingredient.all, :id, :description, {}, { :multiple => true } )%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
