<%= form_with(model: restaurant, local: true) do |form| %>
  <% if restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="field">
      <div class="col-xs-3">
        <%= form.label :'Nome' %>
        <%= form.text_field :name, :class => "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="field">
    <div class="col-xs-3">
    <%= form.label :'Telefone' %>
    <%= form.text_field :telephone, :class => "form-control" %>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="field">
    <div class="col-xs-3">
    <%= form.label :'Endereço' %>
    <%= form.text_field :address, :class => "form-control" %>
    </div>
  </div>
  </div>
  <p></p>
  <div class="actions">
    <%= form.submit "Enviar", :class => "btn btn-success btn-lg"%>
  </div>
<% end %>
